
<div class="flex pt-2 space-x-4">
  <a href="https://twitter.com/getkirby">
    {{ svg('assets/icons/twitter.svg') }}
  </a>
  <a href="https://chat.getkirby.com">
    {{ svg('assets/icons/discord.svg') }}
  </a>
  <a href="https://instagram.com/getkirby">
    {{ svg('assets/icons/instagram.svg') }}
  </a>
</div>
