<hr class="mt-16 w-12 border-2 border-black">
<footer class="pt-4 pb-8 leading-6">
    <div class="grid lg:grid-cols-3 gap-8">
        <div class="lg:col-span-2">
            <h2 class="font-bold mb-4"><a href="https://getkirby.com">Made with Kirby</a></h2>
            <p class="w-1/2 lg:w-48 text-gray-500">
                Kirby: the file-based CMS that adapts to any project, loved by developers and editors alike
            </p>
        </div>
        <div class="grid sm:grid-cols-2 gap-8 sm:w-2/3">
            <div>
                <h2 class="font-bold mb-4">Pages</h2>
                <ul>
                    {% for example in pages.listed() %}
                        <li>
                            <a class="text-gray-500" href="{{ example.url }}">{{ example.title }}</a>
                        </li>
                    {% endfor %}

                </ul>
            </div>
            <div>
                <h2 class="font-bold mb-4">Kirby</h2>
                <ul>
                    <li><a class="text-gray-500" href="https://getkirby.com">Website</a></li>
                    <li><a class="text-gray-500" href="https://getkirby.com/docs">Docs</a></li>
                    <li><a class="text-gray-500" href="https://forum.getkirby.com">Forum</a></li>
                    <li><a class="text-gray-500" href="https://chat.getkirby.com">Chat</a></li>
                    <li><a class="text-gray-500" href="https://github.com/getkirby">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>