<div class="space-y-12">
    {% for layout in field.toLayouts %}
        {% set class = layout.attrs.class ?? '' %}

        <section class="lg:grid lg:grid-cols-12 lg:gap-12 prose prose-lg max-w-none {{ class }}">

            {% for column in layout.columns %}

                <div class="col-span-{{ column.span }}">

                    {% for block in column.blocks %}
                        {% if block.type == 'image' %}
                            {% include "@templates/blocks/image.twig" with {
                                block,
                                width: 120 * column.span
                            } only %}
                        {% else %}
                            {% include "@templates/blocks/#{block.type}.twig" with {
                                block
                            } only %}
                        {% endif %}
                    {% endfor %}

                </div>

            {% endfor %}

        </section>
    {% endfor %}
</div>

