{% from '@templates/macros/lib.twig' import img %}

<div class="flex space-x-4">

    <div class="flex-shrink-0">
        {% set imageCol = block.imageColumn.toObject %}

        <div>
            {% set image = imageCol.image.toFile %}
            {% if image %}
                {{ img(image, {
                    transform: {width: 100, ratio: '16/9'}
                }) }}
            {% endif %}
            <div class="text-sm w-36">
                {{ imageCol.caption }}
            </div>
        </div>

    </div>

    <div class="text-sm">
        {% include '@templates/partials/blocks.twig' with {
            blocks: block.contentColumn.toBlocks
        } only %}
    </div>


</div>