{% extends "@templates/layouts/main.twig" %}
{% from '@templates/macros/lib.twig' import img %}

{% block content %}
    {% include '@templates/partials/intro.twig' %}

    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6">
        {% for project in page.children().listed() %}

            <li>
                <a href="{{ project.url }}">
                    <figure>
                        {% set cover = project.cover %}
                        {% if cover %}
                            {{ img(cover, {
                                transform: {width: 400, height: 500}
                            }) }}
                        {% endif %}
                        <figcaption class="mt-4">
                            {{ project.title }}
                        </figcaption>
                    </figure>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

