{% extends "@templates/layouts/main.twig" %}

{% block content %}

    {% include '@templates/partials/intro.twig' %}

    {% include '@templates/partials/layouts.twig' with {
    	field: page.layout
    } only %}

    <aside class="border-2 border-black p-12 mt-24">
        <h2 class="text-2xl mb-8 font-semibold">Get in contact</h2>
        <div class="grid md:grid-cols-3 gap-6">
            <section class="prose">
                <h3>Address</h3>
                {{ page.address|raw }}
            </section>
            <section class="prose">
                <h3>Email</h3>
                <p>{{ email(page.email)}}</p>
                <h3>Phone</h3>
                <p>{{ tel(page.phone) }}</p>
            </section>
            <section class="prose">
                <h3>On the web</h3>
                <ul>
                    {% for social in page.social.toStructure %}
                    	<li>
                            {{ a(social.url, social.platform) }}
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </aside>
{% endblock %}


