{% extends "@templates/layouts/main.twig" %}

{% from '@templates/macros/lib.twig' import img %}

{% block content %}

    {% include '@templates/partials/intro.twig' %}

    {% set photographyPage = page('photography') %}

    {% if photographyPage %}
        <ul class="home-grid">
            {% for album in photographyPage.children().listed() %}
                <li>
                    <a href="{{ album.url }}">
                        <figure>
                            {% set cover = album.cover %}
                            {% if cover %}
                                {{ img(cover, {
                                    transform: {width: 1024, height: 1024},
                                    mode: 'resize'
                                }) }}
                            {% endif %}
                            <figcaption>
                                <span>
                                  <span class="example-name">{{ album.title }}</span>
                                </span>
                            </figcaption>
                        </figure>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
