{% extends "@templates/layouts/main.twig" %}

{% block content %}
    <article class="max-w-xl mx-auto">
        {% include '@templates/partials/intro.twig' %}


        <div class="prose prose-lg">
            {% include '@templates/partials/blocks.twig' with {
                blocks: page.blocksField.toBlocks
            } only %}
        </div>

        <div class="prose prose-lg mt-12">
            {% include '@templates/partials/blocks.twig' with {
                blocks: page.blocksField2.toBlocks
            } only %}
        </div>
        
    </article>
{% endblock %}
